################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.qmake.stash
*.pro.user
/build
/Utils/prepareDeployment.sh
/Utils/defaultData
/Installateur
/install
/.vs/SieloNavigateur/v14
/SieloDataSoftware/Win32/Release
/SieloDataSoftware/SieloDataSoftware.vcxproj
*.user
*.filters
/SieloNavigateur/GeneratedFiles
/SieloDataSoftware/GeneratedFiles
/SieloNavigateur/Win32/Release
/SieloNavigateur/resource.h
/SieloNavigateur/SieloNavigateur.aps
/SieloNavigateur/SieloNavigateur.rc
*.vcxproj
/SNThemeEditor/GeneratedFiles
/SNThemeEditor/Win32/Release
*.sln
*.db
/vcredist_x86.exe
*.opendb
*.DS_STORE
/SieloNavigateur/icon.icns
/SieloNavigateur/Win32/Debug
/Utils/presentations/v0.3.0
/Utils/ressources/sjm
/Utils/ressources/sjm.zip
Doxyfile
/doc
/.idea
SettingsList.txt
/vs2017
/vs2017-qt5.9
.vs/
build64/
/cmake-build-debug
/cmake-build-release
/third-party/ndb/cmake-build
translations/commands.txt
/cloc-1.72.exe
user-config.cmake
