################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.qmake.stash
*.pro.user
/build
/Utils/prepareDeployment.sh
/Utils/defaultData
/Installateur
