################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.qmake.stash
/Editor/SNThemeEditor.pro.user
/Navigateur/SieloNavigateurV3-WebEngine.pro.user
/build
/Utils/prepareDeployment.sh
/Installateur
