#tabbarwidget
{
    background-color: rgb(230, 230, 230);
    background-repeat: repeat-x;
    border: none
}

/* Main tab bar */
#tabbar
{
/*
    min-height: 27px;
    max-height: 27px;
*/
}

#tabbar::tab
{
/*    height: 32px; */
}

#tabbar::tab:selected
{
    background: rgb(255, 255, 255) repeat-x;

}	
#tabbar::tab:!selected
{
    background: rgb(230, 230, 230) repeat-x;
}

#tabbar::tab:!selected:hover
{
    background: rgb(216, 234, 249) repeat-x;
}
